

.nav {
    color: black;
    display: flex;
    justify-content:flex-end;
    margin-block-start: 0em;
    margin-block-end: 0em;
    list-style-type: none;
}
.liNavTop {
    display: inline-block;
    margin-right: 3%;
    width: 79px;
    height: 26px;
    margin-bottom: 17px;
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
}
.liNavTop a {
    color: black;
    text-decoration: none;
}
.liNavTop a:hover {
    color:#BF510E;
    font-weight: 800;
}
.activePagebar {
    background-color: #BF510E;
    position: relative;
    top: -40px;
    opacity: 1;
    height: 8px;
    width: 79px;
    margin-top: 0px;
    align-items: center;
    z-index: 2;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark {
    background-color: #ADBDA3;
    padding-top:20px;
    padding-bottom:20px;
}
.light {
    background-color:#f3f5f1;
    padding-top:20px;
    padding-bottom:20px;
}

h1 {
    color:#BF510E !important;
    font-size: 50px !important;
    font-family:'Julius Sans One', sans-serif !important;
}
p {
    font-size:24px;
    font-family: 'Poiret One', cursive;
}
p span {
    font-weight:600;
}

.mockUp1 {
    float:right;
    overflow:hidden;
}

.readMore {
    color:black;
    background-color:white;
    height:42px;
    width:250px;
    text-align:center;
    align-items:center;
    font-size:26px;
    font-family:'Poiret One', cursive;
    border:none;
    border-radius:30px;
    text-decoration:none;
}
.readMore a {
    color:black;
    text-decoration:none;
}
.readMore:hover {
    background-color:#BF510E;
    color:white;
    height:42px;
    width:250px;
    border:none;
    border-radius:30px;
    text-align:center;
    align-items:center;
}
.readMore a:hover {
    color:white;
}

.readMore2 {
    color:black;
    background-color:#ADBDA3;
    height:42px;
    width:250px;
    text-align:center;
    align-items:center;
    font-size:26px;
    font-family:'Poiret One', cursive;
    border:none;
    border-radius:30px;
    text-decoration:none;
}
.readMore2 a {
    color:black;
    text-decoration:none;
}
.readMore2:hover {
        background-color:#BF510E;
    color:white;
    height:42px;
    width:250px;
    border:none;
    border-radius:30px;
    text-align:center;
    align-items:center;
}
.readMore2 a:hover {
    color:white;
}


#footerBlock {
    background-color: white;
    height: 104px;
    padding-bottom: 0px;
    margin-top: 0px;
    display: flex;
}
#footLISA {
    color:black !important;
    font-family: 'Shadows Into Light', cursive !important;
    font-size: 55px;
    font-weight: 300;
    margin-left: 17px;
    margin-top: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0);
    z-index: 2;
}
#footHOLMQUIST {
    color:black;
    font-family:'Julius Sans One', sans-serif;
    font-size: 12px;
    font-weight: 300;
    margin-block-start: 0em;
    margin-block-end: 0em;
    position: absolute;
    background: rgba(0, 0, 0, 0);
    margin-top: 70px;
    margin-left: 17px; 
    z-index: 2;
}
#footHOLMQUIST span {
    color:#FF6100;
    background: rgba(0, 0, 0, 0);
    z-index: 2; 
}
#leftLine {
    background-color: #FF6100;
    height: 75px;
    width: 1px;
    margin-top: 14.5px;
    margin-left: 130px;
}
#rightLine {
    background-color:#FF6100;
    height: 75px;
    width: 1px;
    margin-top: 14.5px;
}
.liNavFoot {
    display: inline-block;
    margin-top: 32px;
    margin-left: 11.8%;
    width: 108px;
    height: 40px;
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    z-index: 2;
}
.liNavFoot a {
    color: black;
    text-decoration: none;
}
.liNavFoot a:hover {
    color:#BF510E;
    font-weight: 800;
}